---
title: Companies
lead: <%= site.lead %> # this is used by the subhead component
section_title: Companies
section_subtitle: Awesome companies that are worth to mention
---
<div class="fullwidth-container">
    <section class="grid-container c1">
        <h2 class="title centered">{{section_title}}</h2>
        <p class="subtitle centered">{{section_subtitle}}</p>

        <!-- <div id="sorts" class="button-group">
          Name: <a href="#" data-sort-by="name"   ><i class="fa fa-sort-alpha-asc"></i></a>
                <a href="#" data-sort-by="nameDes"><i class="fa fa-sort-alpha-desc"></i></a>
          Year: <a href="#" data-sort-by="year"   ><i class="fa fa-sort-numeric-asc"></i></a>
                <a href="#" data-sort-by="yearDes"><i class="fa fa-sort-numeric-desc"></i></a>
          <a href="#" data-sort-by="relevance">relevance</a>
        </div> -->

        <div id="filters" class="button-group">
          <button data-filter="*">show all</button>
          <button data-filter=".startup">startup</button>
          <button data-filter=".multinational">multinational</button>
          <button data-filter=".agency">agency</button>
        </div>

        <ul class="grid-list companies-list">
            {{#each porto.companies}}
                {{#unless hide}}
                <li class="grid-item company {{type}}"
                    data-name="{{name}}"
                    data-relevance="{{relevance}}"
                    data-year="{{year}}">
                    <div class="header">
                        <div class="logo-container">
                            <img alt="{{name}}"
                             class="company-logo"
                             src="/assets/images/{{logo}}">
                        </div>
                        <span class="info">{{info}}</span>
                    </div>
                    <div class="details">
                        <div class="links">
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <p class="company-name">{{name}} <small>({{year}})</small></p>
                        <p class="company-tags">{{tags}}</p>
                    </div>
                </li>
                {{/unless}}
            {{/each}}
            </ul>
        </section>
</div>